@{
    ViewData["Title"] = "Home page";
}

<div class="pagetitle">
    <h1>Telefon Deftesi</h1>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kişiler</h5>
                    <p>Kişi Ekleme, Silme, Kişiye bilgi ekleme ve detayları görüntüleme işlemleri için oluşturulmuş teknik bilgi içeren bir web sayfasıdır.</p>
                    <p>Web Api ile ilgili verileri ekleme silme gibi işlemleri arayüz üzerinden test eden bir platformdur</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Raporlar</h5>
                    <p>Kuyruğa veri gönderme</p>
                    <p>Kuyruğa veri sorgulama</p>
                    <p>Rapor İndirme</p>
                </div>
            </div>

        </div>
    </div>
</section>